<div class="hero fade-in-bottom">
    <p class="categories">about</p>
    <h1>Clita incorrupte at vix. Nam te molestie iudicabit erroribus odio.</h1>
</div>
<div class="hero-img fade-in-bottom"></div>
<div class="about-us">
    <p class="about-header header">This is NoiceLand.</p>
    <p class="about-text">Vim et dolore eligendi voluptua, qui id unum quas
        omittantur, at sed
        justo tation eligendi. Assum accommodare an mei. Sonet propriae
        partiendo ad vix, ex vis epicuri constituto incorrupte. Ut vim liber
        recteque eloquentiam, qui te exerci forensibus. Eu pri ullum meliore
        tincidunt, an ius aeque paulo saperet, eum modus tation an.</p>
    <p class="about-text">Vix mandamus deseruisse voluptatibus in. Ei pri
        epicurei indoctum.
        Aeterno oportere at his. Nam prompta recteque dissentias id. Aperiam
        atomorum iudicabit sed id, malis dicit pericula at vis.</p>
    <p class="about-text">At sea scripta nostrud facilisis, his at nihil ubique
        sententiae, aeque
        menandri urbanitas eu quo. Fastidii qualisque cum id. Tollit convenire
        adversarium duo te. Te vim dictas virtute iudicabit, tibique omittam cum
        ut, clita decore lucilius nec ei. Sit facer docendi ex, laoreet deserunt
        pro eu, eum putent virtute vivendum te. Purto interpretaris
        signiferumque te eam, at mel saperet voluptua.</p>
    <a href="#contact-section" class="contact-link">Contact Us</a>
</div>
<div class="separator">
    <div class="separator-line"></div>
</div>
<p class="team-header">our team</p>
<section class="our-team">
    <div class="card" *ngFor="let member of team">
        <img [src]="member.image" alt="team-member">
        <p class="team-member-name">{{member.name}}</p>
        <p class="team-member-role">{{member.role}}</p>
    </div>
</section>
<div class="separator">
    <div class="separator-line"></div>
</div>
<div class="about-us" id="contact-section">
    <p class="about-header header">Wanna get in touch?</p>
    <p class="about-text">Vim et dolore eligendi voluptua, qui id unum quas
        omittantur, at sed
        justo tation eligendi. Assum accommodare an mei. Sonet propriae
        partiendo ad vix, ex vis epicuri constituto incorrupte.</p>
</div>
<div class="contact">
    <div class="details">
        <p class="no address">1</p>
        <p class="contact-type">address</p>
        <div class="contact-content">
        144 N 7th St.
            <br>#536 Brooklyn, NY 11249 <br>
            United States</div>
    </div>
    <div class="details">
        <p class="no">2</p>
        <p class="contact-type">general INQUIRIES</p>
        <p class="contact-content">hellonoiceland.co</p>
    </div>
    <div class="details">
        <p class="no">3</p>
        <p class="contact-type">PRESS inquiries</p>
        <p class="contact-content">pressnoiceland.co</p>
    </div>
    <div class="details">
        <p class="no">4</p>
        <p class="contact-type">potential contributors</p>
        <p class="contact-content">collabnoiceland.co</p>
    </div>
</div>