<footer>
    <div class="footer-container">
        <div class="logo">
            <div>
                <a href="#">
                    <img
                        src="https://cdn.prod.website-files.com/5b471332a0fccf5aded82f96/5b4759f1ee75f16151397de3_logo-white.svg"
                        alt="Noiseland" class="logo">
                </a>
            </div>
            <div class="logo-text">
                <p>© 2018 Noiceland™, all rights reserved</p>
            </div>
        </div>
        <div class="categories">
            <div class="categories-container">
                <div class="categories-row sec-1">
                    <p class="title">categories</p>
                    <a class="link" href="#">Animation</a>
                    <a class="link" href="#">Interactive Design</a>
                </div>
                <div class="categories-row">
                    <a class="link" href="#">Architecture</a>
                    <a class="link" href="#">Miscellaneous</a>
                </div>
                <div class="categories-row">
                    <a class="link" href="#">Graphic Design</a>
                    <a class="link" href="#">Photography</a>
                </div>
                <div class="categories-row">
                    <a class="link" href="#">Illustration</a>
                    <a class="link" href="#">Product Design</a>
                </div>
                <div class="email-box">
                    <p class="title">Subscribe to newsletter</p>
                    <div class="form-box">
                        <input type='text' value="Email address">
                        <button class="send-btn">send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rest-footer">
            <div class="categories-row">
                <p class="title">Information</p>
                <a href="/about" class="link">about</a>
                <a href="/" class="link">contact</a>
                <a href="/" class="link">terms</a>
            </div>
            <div class="categories-row">
                <p class="title">Follow us</p>
                <a href="#" class="link">Instagram</a>
                <a href="#" class="link">facebook</a>
                <a href="#" class="link">twitter</a>
            </div>
            <div class="categories-row">
                <p class="title">Information</p>
                <a href="#" class="link">Image License Info</a>
                <a href="https://www.linkedin.com/in/mostafa-semary-4605b4321/" class="link">Powered By Mostafa Semary</a>
            </div>
        </div>
    </div>
</footer>
