<header class="w-nav">
    <div class="nav-container">
        <a href="#">
            <img
            src="https://cdn.prod.website-files.com/5b471332a0fccf5aded82f96/5b471562a0981421175a45a5_noiceland_logo.svg"
            alt="Noiceland"
            class="logo">
        </a>
        <nav>
            <a routerLink="/" class="nav-button">Home</a>
            <a routerLink='/latest-posts' class="nav-button">Latest</a>
            <a routerLink="/about" class="nav-button">About</a>
        </nav>
    </div>
</header>
